
@media (max-width:1024px) {
.course-cards{
    display: grid;
    grid-template-columns: auto auto;
}
  .cs-header>p{
    max-width: 80%;
}
}

@media (max-width:768px) {
  .cs-header>p{
    max-width: 80%;
}
.course-cards{
    display: grid;
    grid-template-columns: auto;
}
}


